<p id="notice"><%= notice %></p>

<h1>Channels</h1>

<p id="notice"><%= notice %></p>

<div class="Box">
  <ul>
    <% @channels.each do |channel| %>
      <li class="Box-row">
        <div><%= channel.name %></div>
        <div><%= channel.email %></div>
        <div><%= channel.pronouns %></div>
        <div><%= channel.bio %></div>
        <div><%= link_to 'Show', channel %></div>
        <div><%= link_to 'Edit', edit_channel_path(channel) %></div>
        <div><%= link_to 'Destroy', channel, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </li>
    <% end %>
  </ul>
</div>

<br>

<%= link_to 'New channel', new_channel_path %>
